.textFieldsData{
    width: 122%;
}
.textFieldsDataMail{
    width: 100%;
}
.textFieldsData1{
    width: 135%;
}
@media only screen and (max-width: 600px) {
    .textFieldsData{
        width: 100%;
    }
    .textFieldsDataMail{
        width: 100%;
    }
    .textFieldsData1{
        width: 115%;
    }
}